<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Recommendation System</title>
    <link rel="icon" href="../static/icon.png">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- header -->
<div class="header">
    <div class="menu">
      <ul>
        <div class="menuitems">
        <div class="Home"><a href="/"><li>Home</li></a></div>
        <div class="about"><a href="/about"><li>About</li></a></div>   
    </div>
    </ul>
    </div>
    <div class="headings">
       <h1>Hotel Recommendation System</h1>
    </div>
</div>

   <!-- content -->
   <div class="about-container">
    <h1>About me</h1>
    <div class="about-me">
        <h3>Intorduction:</h3>
      <p>Hey Nice to see you !<br> My Name is Deepu singh. I am currently pursuing my M.tech Degree in Data and Computational Science From IIT JODHPUR. </p>
      <img src="../static/my_pic.jpg" alt="profile pic">
      <h3>My Profile links:</h3>
      <h4>Github:</h4> <a href="https://github.com/gofordeepu">https://github.com/gofordeepu</a>
      <h4>My youtube Channel:</h4> <a href="https://www.youtube.com/c/DeepuSingh/">https://www.youtube.com/c/DeepuSingh/</a>
      <h4>My Blogs:</h4> <a href="https://gofordeepu.medium.com/">https://gofordeepu.medium.com/</a>
    </div>
    <h1>References</h1>
    <div class="references">
         <h3>Datasets Link: </h3>
         <a href="https://www.kaggle.com/code/haryantohidayat2/hotel-recommender/data">https://www.kaggle.com/code/haryantohidayat2/hotel-recommender/data</a>
         <h3>Python Libraries used:</h3>
         <a href="/static/requirements.txt">click here to see requirements.txt</a>
         <h3>See Detailed Report about this project:</h3>
         <a href="/static/report.pdf">click here to see report.pdf</a>
    </div>
   </div>
   
    <!-- footer -->
    
    <div class="footer">
        <p>Hotel Recommendation System Created By Deepu Singh</p>
    </div>

</body>
</html>
